<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/base :: head"></head>
<head><title>Actualizar Estudiante</title></head>

  <body>
    <!-- NAVBAR -->
    <nav th:replace="includes/base :: navbar"></nav>

    <!-- CONTENT -->
    <div class="container my-5">
      <h3>Actualizar estudiante</h3>
      <div class="card">
        <div class="card-body">
          <div class="col-md-8">
            <form
              action="#"
              th:action="@{/students/update/{id}(id=${student.id})}"
              th:object="${student}"
              method="post"
            >
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name" class="col-form-label">Nombre</label>
                  <input
                    type="text"
                    th:field="*{firstName}"
                    class="form-control"
                    id="firstName"
                    placeholder="Name"
                    required
                  />
                  <span
                    th:if="${#fields.hasErrors('firstName')}"
                    th:errors="*{firstName}"
                    class="text-danger"
                  ></span>
                </div>

                <div class="form-group col-md-6">
                  <label for="name" class="col-form-label">Apellido</label>
                  <input
                    type="text"
                    th:field="*{lastName}"
                    class="form-control"
                    id="lastName"
                    placeholder="lastName"
                    required
                  />
                  <span
                    th:if="${#fields.hasErrors('lastName')}"
                    th:errors="*{lastName}"
                    class="text-danger"
                  ></span>
                </div>

                <div class="form-group col-md-8">
                  <label for="email" class="col-form-label">Email</label>
                  <input
                    type="text"
                    th:field="*{email}"
                    class="form-control"
                    id="email"
                    placeholder="Email"
                    required
                  />
                  <span
                    th:if="${#fields.hasErrors('email')}"
                    th:errors="*{email}"
                    class="text-danger"
                  ></span>
                </div>

                <div class="form-group col-md-8">
                  <label for="phoneNo" class="col-form-label">Teléfono</label>
                  <input
                    type="text"
                    th:field="*{phoneNo}"
                    class="form-control"
                    id="phoneNo"
                    placeholder="phoneNo"
                    required
                  />
                  <span
                    th:if="${#fields.hasErrors('phoneNo')}"
                    th:errors="phoneNo"
                    class="text-danger"
                  ></span>
                </div>

                <div class="form-group col-md-8">
                  <label for="phoneNo" class="col-form-label">Curso</label>
                  <input
                    type="text"
                    th:field="*{courses}"
                    class="form-control"
                    id="courses"
                    placeholder="course"
                  />
                  <span
                    th:if="${#fields.hasErrors('courses')}"
                    th:errors="courses"
                    class="text-danger"
                  ></span>
                </div>

                <div class="form-group col-md-8">
                  <input
                    type="submit"
                    class="btn btn-primary"
                    value="Actualizar"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
	<!-- FOOTER -->
	<footer th:replace="includes/base :: footer"></footer>
  </body>
  <script th:replace="includes/base :: btrapjs"></script>
</html>
