<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="includes/base :: head"></head>
  <head>
  	<meta charset="utf-8">
  	<title>Login | Progrademia</title>
  </head>
  <body>
   <!-- NAVBAR -->
   <div class="table-info">
    <th:block th:include="includes/base :: header"></th:block>
   </div>
   <!-- CONTENT -->
   <div style="padding-top: 150px;margin-bottom: 300px;">
        <form name="f" th:action="@{/login}" method="post">               
            <fieldset>
                <legend>Inicie sesión</legend>
                <div th:if="${param.error}" class="alert alert-error">    
                    Email y/o contraseña incorrectos.
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    Te has desconectado.
                </div>
                
                <label for="email">Email</label>
                <input type="email" id="email" name="email"/>      
                  
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password"/>    
                <div class="form-actions">
                    <button type="submit" class="btn">Ingresar</button>
                </div>
            </fieldset>
        </form>
       </div>
      <!-- FOOTER -->
    <footer th:replace="includes/base :: footer"></footer>
    
    <th:block th:include="includes/base :: assets"></th:block>
  </body>
</html>