<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="includes/base :: head"></head>
  <head>
  	<meta charset="utf-8">
  	<title>Exito | Progrademia</title>
  </head>
  <body>
   <!-- NAVBAR -->
   <div class="table-info">
    <th:block th:include="includes/base :: header"></th:block>
   </div>
   <!-- CONTENT -->
    <div class="container text-center">
      <div class="base-form" style="margin-bottom: 35rem;">
        <h3>Te has registrado correctamente!</h3>
        <h4><a th:href="@{/login}">Click para Ingresar</a></h4>
      </div>
    </div>
      <!-- FOOTER -->
    <footer th:replace="includes/base :: footer"></footer>
    
    <th:block th:include="includes/base :: assets"></th:block>
</body>
</html>