<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="includes/base :: head"></head>
  <head><title>Progrademia | Academia de Programación</title></head>
  <body> 
    <!-- NAVBAR --><!--SEBAEDIT-->
    <th:block th:include="includes/base :: header"></th:block>
    <!-- CONTENT -->

    <section class="cd-hero">
      <ul class="cd-hero-slider autoplay">  
          <li class="selected first-slide">
              <div class="cd-full-width">
                  <div class="tm-slide-content-div slide-caption">
                      <span>Mirá nuestros selectos</span>
                      <h2>CURSOS</h2>
                      <p>Y empezá a programar ya mismo tus Apps!</p>
                      <div class="primary-button">
                          <a href="#about" class="scroll-link" data-id="about">Ver Más</a>
                      </div>                           
                  </div>                   
              </div>
          </li>

          <li class="second-slide">
              <div class="cd-full-width">
                  <div class="tm-slide-content-div slide-caption">
                      <span>Nuestro equipo es único</span>
                      <h2>Conocemos</h2>
                      <p>Nuestros docentes se esfuerzan día a día para que vos llegues a lo más alto. </p>
                      <div class="primary-button">
                          <a href="#what-we-do">Ver Más</a>
                      </div>                        
                  </div>                     
              </div>
          </li>

          <li class="third-slide">
              <div class="cd-full-width">
                  <div class="tm-slide-content-div slide-caption">
                      <span>¿Tenés dudas?</span>
                      <h2>Contactanos</h2>
                      <p>Dejanos tus datos y nuestro equipo te estará contestando en el día!</p>
                      <div class="primary-button">
                          <a href="#contact">Ver Más</a>
                      </div>                           
                  </div>                         
              </div>
          </li>
      </ul> 
      <div class="cd-slider-nav">
          <nav>
              <span class="cd-marker item-1"></span>
              
              <ul>
                  <li class="selected"><a href="#0"></a></li>
                  <li><a href="#0"></a></li>
                  <li><a href="#0"></a></li>                        
              </ul>
          </nav> 
      </div> 
  </section> 

  <div id="about" class="page-section">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-heading">
                      <h4>Nuestros Cursos</h4>
                      <div class="line-dec"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="service-item first-service">
                      <div class="icon"></div>
                      <h4>Programación Web Full Stack</h4>
                      <p>Aprendé a programar páginas web desde cero. Dominá el Front-end y el Back-end de un sitio web usando las mejores prácticas conocidas y la lógica de un programador.</p>
                  </div>
              </div>
               <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="service-item second-service">
                      <div class="icon"></div>
                      <h4>Backend con Python y Django</h4>
                      <p>Django es un framework de desarrollo Web basado en Python, este provee herramientas esenciales para la construcción de aplicaciones seguras y escalables.</p>
                  </div>
              </div>
               <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="service-item third-service">
                      <div class="icon"></div>
                      <h4>Desarrollo Backend con Java</h4>
                      <p>Java es uno de los lenguajes más demandados en la industria, escribe una vez y córrelo donde quieras, es la filosofía de Java. Aprendé a usarlo!</p>
                  </div>
              </div>
               <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="service-item fourth-service">
                      <div class="icon"></div>
                      <h4>Desarrollo de Aplicaciones Android</h4>
                      <p>Android es el Sistema Operativo usado por más personas en todo el mundo, es el lugar donde tus desarrollos pueden tener más alcance.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div id="what-we-do">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="left-text">
                      <h4>Nosotros somos:<br></h4>
                      <p>Mariano Alberto Chavez<br>Miguel Alejandro De Moraiz<br>Sebastián Martín Coppola<br>
                      <br>Somos parte de la comisión 2112, del curso JAVA Full Stack del programa Codo a Codo.<br>
                      <br>Durante el último cuatrimestre, fuimos adquiriendo herramientas varias facilitadas por la docente Marcela Cerda, que nos permiten hoy desarrollar esta Web a manera de cierre.<br></p>
                      <ul>
                          <li>
                              <div class="white-button">
                                  <a href="https://www.buenosaires.gob.ar/educacion/codo-codo" target="_black">Leer más sobre CodoACodo</a>
                              </div>
                          </li>
                          <!--<li>
                              <div class="primary-button">
                                  <a href="#">Purchase Now</a>
                              </div>
                          </li>-->
                      </ul>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="right-image">
                      <img src="img/what-we-do-right-image.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="contact" class="page-section">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-heading">
                      <h4>Contactanos</h4>
                      <div class="line-dec"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="map">
                      <img src="img/map.jpg" alt="">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="row">
                    <form id="contact" action="" method="post">
                      <div class="col-md-6">
                        <fieldset>
                          <input name="name" type="text" class="form-control" id="name" placeholder="Tu nombre..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-6">
                        <fieldset>
                          <input name="email" type="email" class="form-control" id="email" placeholder="Tu email..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <fieldset>
                          <textarea name="message" rows="6" class="form-control" id="message" placeholder="Tu consulta..." required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <fieldset>
                          <a class="btn btn-info">Enviar</a>
                        </fieldset>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

    <!-- FOOTER -->
    <footer th:replace="includes/base :: footer"></footer>
    
    <th:block th:include="includes/base :: assets"></th:block>
    
    <script type="text/javascript">
        $(document).ready(function() {
            // navigation click actions 
            $('.scroll-link').on('click', function(event){
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function(event) {
                event.preventDefault();
                $('html, body').animate({scrollTop:0}, 'slow');         
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
        // scroll function
        function scrollToID(id, speed){
            var offSet = 50;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({scrollTop:targetOffset}, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function() { }
            };
        }
        </script>
</body>
</html>
