<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="includes/base :: head">
    <title>Usuarios</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav th:replace="includes/base :: navbar"></nav>
    <!-- CONTENT -->
    <div class="container my-2">
      <div class="card">
        <div class="card-body">
          <div class="row" style="float: right;">
            <a href="/students/showForm" class="btn btn-success"><i class="fas fa-user-plus ml-2"> Agregar Estudiante</i></a>
          </div>
          <div th:switch="${students}" class="container my-5">
            <p class="my-5"></p>
            <div class="text-center">
              <h2 th:case="null">No hay estudiantes!</h2>
              <div th:case="*">
                <table class="table table-striped table-responsive-md">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Email</th>
                      <th>Telefono</th>
                      <th>Comisión</th>
                      <th>Editar</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="student : ${students}">
                      <td th:text="${student.name}"></td>
                      <td th:text="${student.lastName}"></td>
                      <td th:text="${student.email}"></td>
                      <td th:text="${student.phoneNo}"></td>
                      <td th:text="${student.course}"></td>
                      <td>
                        <a
                          th:href="@{/students/edit/{id}(id=${student.id})}"
                          class="btn btn-primary"
                          ><i class="fas fa-user-edit ml-2"></i
                        ></a>
                      </td>
                      <td>
                        <a
                          th:href="@{/students/delete/{id}(id=${student.id})}"
                          class="btn btn-danger"
                          ><i class="fas fa-user-times ml-2"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row" style="float: right;">
                    <nav>
                      <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage==1} ? disabled">
                          <a class="page-link" th:href="@{/students/list(page=${currentPage-1})}">Anterior</a>
                        </li>
                        <li class="page-item" th:classappend="${pageNumber==currentPage} ? active" th:if="${totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                          <a class="page-link" th:href="@{/students/list(page=${pageNumber})}" th:text=${pageNumber}></a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage==totalPages} ? disabled">
                          <a class="page-link" th:href="@{/students/list(page=${currentPage+1})}">Siguiente</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                <div >
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

	<!-- FOOTER -->
	<footer th:replace="includes/base :: footer"></footer>
  </body>
  <script th:replace="includes/base :: btrapjs"></script>
</html>
