<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="includes/base :: head"></head>
  <head><title>Progrademia | Academia de Programación</title></head>
  <body> 
    <!-- NAVBAR --><!--SEBAEDIT-->
    <th:block th:include="includes/base :: header"></th:block>
    <!-- CONTENT -->

    <section class="cd-hero">
      <ul class="cd-hero-slider autoplay">  
          <li class="selected first-slide">
              <div class="cd-full-width">
                  <div class="tm-slide-content-div slide-caption">
                      <span>Mirá nuestros selectos</span>
                      <h2>CURSOS</h2>
                      <p>Y empezá a programar ya mismo tus Apps!</p>
                      <div class="primary-button">
                          <a href="#about" class="scroll-link" data-id="about">Ver Más</a>
                      </div>                           
                  </div>                   
              </div>
          </li>

          <li class="second-slide">
              <div class="cd-full-width">
                  <div class="tm-slide-content-div slide-caption">
                      <span>Nuestro equipo es único</span>
                      <h2>Conocemos</h2>
                      <p>Nuestros docentes se esfuerzan día a día para que vos llegues a lo más alto. </p>
                      <div class="primary-button">
                          <a href="#what-we-do">Ver Más</a>
                      </div>                        
                  </div>                     
              </div>
          </li>

          <li class="third-slide">
              <div class="cd-full-width">
                  <div class="tm-slide-content-div slide-caption">
                      <span>¿Tenés dudas?</span>
                      <h2>Contactanos</h2>
                      <p>Dejanos tus datos y nuestro equipo te estará contestando en el día!</p>
                      <div class="primary-button">
                          <a href="#contact">Ver Más</a>
                      </div>                           
                  </div>                         
              </div>
          </li>
      </ul> 
      <div class="cd-slider-nav">
          <nav>
              <span class="cd-marker item-1"></span>
              
              <ul>
                  <li class="selected"><a href="#0"></a></li>
                  <li><a href="#0"></a></li>
                  <li><a href="#0"></a></li>                        
              </ul>
          </nav> 
      </div> 
  </section> 

  <div id="about" class="page-section">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-heading">
                      <h4>Nuestros Cursos</h4>
                      <div class="line-dec"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="service-item first-service">
                      <div class="icon"></div>
                      <h4>Programación Web Full Stack</h4>
                      <p>Aprendé a programar páginas web desde cero. Dominá el Front-end y el Back-end de un sitio web usando las mejores prácticas conocidas y la lógica de un programador.</p>
                  </div>
              </div>
               <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="service-item second-service">
                      <div class="icon"></div>
                      <h4>Backend con Python y Django</h4>
                      <p>Django es un framework de desarrollo Web basado en Python, este provee herramientas esenciales para la construcción de aplicaciones seguras y escalables.</p>
                  </div>
              </div>
               <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="service-item third-service">
                      <div class="icon"></div>
                      <h4>Desarrollo Backend con Java</h4>
                      <p>Java es uno de los lenguajes más demandados en la industria, escribe una vez y córrelo donde quieras, es la filosofía de Java. Aprendé a usarlo!</p>
                  </div>
              </div>
               <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="service-item fourth-service">
                      <div class="icon"></div>
                      <h4>Desarrollo de Aplicaciones Android</h4>
                      <p>Android es el Sistema Operativo usado por más personas en todo el mundo, es el lugar donde tus desarrollos pueden tener más alcance.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div id="what-we-do">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="left-text">
                      <h4>Nosotros somos:<br></h4>
                      <p>Mariano Alberto Chavez<br>Miguel Alejandro De Moraiz<br>Sebastián Martín Coppola<br>
                      <br>Somos parte de la comisión 2112, del curso JAVA Full Stack del programa Codo a Codo.<br>
                      <br>Durante el último cuatrimestre, fuimos adquiriendo herramientas varias facilitadas por la docente Marcela Cerda, que nos permiten hoy desarrollar esta Web a manera de cierre.<br></p>
                      <ul>
                          <li>
                              <div class="white-button">
                                  <a href="https://www.buenosaires.gob.ar/educacion/codo-codo" target="_black">Leer más sobre CodoACodo</a>
                              </div>
                          </li>
                          <!--<li>
                              <div class="primary-button">
                                  <a href="#">Purchase Now</a>
                              </div>
                          </li>-->
                      </ul>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="right-image">
                      <img src="img/what-we-do-right-image.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>

<!--
  <div id="portfolio" class="page-section">
      <div class="content-wrapper">
          <div class="inner-container container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="section-heading">
                          <h4>Our Portfolio</h4>
                          <div class="line-dec"></div>
                      </div>
                  </div>
              </div>
              <div class="projects-holder-3">
                  <div class="filter-categories">
                      <ul class="project-filter">
                          <li class="filter" data-filter="all"><span>All</span></li>
                          <li class="filter" data-filter="nature"><span>Nature</span></li>
                          <li class="filter" data-filter="workspace"><span>Workspace</span></li>
                          <li class="filter" data-filter="city"><span>City</span></li>
                          <li class="filter" data-filter="technology"><span>Technology</span></li>
                      </ul>
                  </div>
                  <div class="projects-holder">
                      <div class="row">
                          <div class="col-md-3 col-sm-6 project-item mix workspace">
                            <div class="thumb">
                                <div class="image">
                                  <img src="img/portfolio_01.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="img/portfolio_big_01.jpg" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix workspace">
                            <div class="thumb">
                                <div class="image">
                                  <img src="img/portfolio_02.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="img/portfolio_big_02.jpg" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix technology">
                            <div class="thumb">
                                <div class="image">
                                  <img src="img/portfolio_03.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="img/portfolio_big_03.jpg" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix city">
                            <div class="thumb">
                                <div class="image">
                                  <img src="img/portfolio_04.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="img/portfolio_big_04.jpg" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix nature">
                            <div class="thumb">
                                <div class="image">
                                  <img src="img/portfolio_05.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="img/portfolio_big_05.jpg" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix technology">
                            <div class="thumb">
                                <div class="image">
                                  <img src="img/portfolio_06.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="img/portfolio_big_06.jpg" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix workspace">
                            <div class="thumb">
                                <div class="image">
                                  <img src="img/portfolio_07.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="img/portfolio_big_07.jpg" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 project-item mix city">
                            <div class="thumb">
                                <div class="image">
                                  <img src="img/portfolio_08.jpg">
                                </div>
                                <div class="hover-effect">
                                  <a href="img/portfolio_big_08.jpg" data-lightbox="image-1"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> 
  </div>
-->

<!--
  <div id="blog" class="page-section">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-heading">
                      <h4>Our Blog Posts</h4>
                      <div class="line-dec"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="blog-item b1">
                      <div class="thumb">
                          <img src="img/blog_01.jpg" alt="">
                          <div class="text-content">
                              <h4>Delecioius Food Served</h4>
                              <span>Posted: <em>George</em>  /  Date: <em>11 Aug 2017</em>  /  Category: <em>Design</em></span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="blog-item second-blog b2">
                      <div class="thumb">
                          <img src="img/blog_02.jpg" alt="">
                          <div class="text-content">
                              <h4>Creative &amp; Clean Workspace</h4>
                              <span>Posted: <em>Kerley</em>  /  Date: <em>24 Jul 2017</em>  /  Category: <em>Artwork</em></span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="blog-item b3">
                      <div class="thumb">
                          <img src="img/blog_03.jpg" alt="">
                          <div class="text-content">
                              <h4>Crashed Plane Captured</h4>
                              <span>Posted: <em>Johnny</em>  /  Date: <em>16 Jul 2017</em>  /  Category: <em>Branding</em></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="pop">
                    <span>✖</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis neque lacinia, porta nulla in, pellentesque ante. Vivamus in luctus mauris, non pharetra nibh. Morbi porttitor nisl sit amet velit pellentesque consequat. Etiam blandit libero turpis, id vehicula leo posuere a. In vel massa sollicitudin, tincidunt massa et, tincidunt ex.<br><br>Duis volutpat condimentum mollis. Sed eleifend libero ut viverra mattis. Suspendisse consectetur diam dolor, ut efficitur sem finibus vel. Vivamus tristique lacus sed dapibus varius. Fusce pharetra, quam quis congue pretium, ante dui imperdiet ipsum, eget lobortis leo leo sed diam.</p>
                  </div>
                  <div class="pop2">
                    <span>✖</span>
                    <p>Praesent purus leo, aliquet et efficitur id, pulvinar scelerisque enim. Maecenas a arcu sagittis, ornare ante ut, suscipit lectus. Donec dolor ipsum, laoreet nec metus non, tempus elementum massa. Donec non elit rhoncus, vestibulum enim sed, rutrum arcu. Vestibulum et purus ac diam condimentum volutpat sed ac est. Phasellus interdum tortor sem. Quisque sit amet condimentum sem. Phasellus luctus, felis sit amet pulvinar luctus, lectus dui mattis tellus, et placerat nunc ante at lacus.<br><br>Vivamus vestibulum, nisi sed placerat accumsan, felis felis venenatis tortor, vel condimentum arcu neque vel mauris. Donec a magna gravida, egestas libero non, molestie massa. Integer ut dolor eget magna congue gravida ut at arcu. Vivamus maximus neque quis luctus tempus. Vestibulum consequat a justo id feugiat. </p>
                  </div>
                  <div class="pop3">
                    <span>✖</span>
                    <p>Nullam rhoncus, orci et iaculis sodales, quam lectus suscipit augue, ut auctor massa dolor id metus. Nulla porta ut diam sodales dignissim. Ut sit amet augue vel justo laoreet dignissim. Maecenas vitae sollicitudin eros. In commodo placerat cursus. Quisque malesuada, nisl ac lacinia commodo, justo eros maximus ex, quis cursus odio erat at neque. Sed tincidunt eu dolor eget posuere.<br><br>Curabitur sit amet elit sit amet ligula eleifend aliquam quis eget quam. Mauris id mi nec justo venenatis tincidunt at ac massa. Sed et volutpat nunc. Quisque at urna quam. Duis sit amet neque eget quam iaculis iaculis. Quisque maximus porta elementum. Nam ac mattis erat, quis accumsan odio.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
-->

  <div id="contact" class="page-section">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-heading">
                      <h4>Contactanos</h4>
                      <div class="line-dec"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="map">
                      <img src="img/map.jpg" alt="">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="row">
                    <form id="contact" action="" method="post">
                      <div class="col-md-6">
                        <fieldset>
                          <input name="name" type="text" class="form-control" id="name" placeholder="Tu nombre..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-6">
                        <fieldset>
                          <input name="email" type="email" class="form-control" id="email" placeholder="Tu email..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <fieldset>
                          <textarea name="message" rows="6" class="form-control" id="message" placeholder="Tu consulta..." required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="btn">Enviar</button>
                        </fieldset>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

    <!-- FOOTER -->
    <footer th:replace="includes/base :: footer"></footer>
    
    <th:block th:include="includes/base :: assets"></th:block>
    
    <script type="text/javascript">
        $(document).ready(function() {
            // navigation click actions 
            $('.scroll-link').on('click', function(event){
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function(event) {
                event.preventDefault();
                $('html, body').animate({scrollTop:0}, 'slow');         
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
        // scroll function
        function scrollToID(id, speed){
            var offSet = 50;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({scrollTop:targetOffset}, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function() { }
            };
        }
        </script>
</body>
</html>
